@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'NeueMontreal';
		src: local('NeueMontreal'), url('/fonts/NeueMontreal-Regular.otf');
		font-weight: 400;
		font-display: swap;
	}
	@font-face {
		font-family: 'NeueMontreal';
		src: local('NeueMontreal'), url('/fonts/NeueMontreal-Medium.otf');
		font-weight: 500;
		font-display: swap;
	}
}
